<div fxLayout="row" fxLayoutAlign="start center">
  <h2>비밀번호 재설정</h2>
</div>
<mat-horizontal-stepper [linear]="true" [disableRipple]="true" #stepper>
  <mat-step [editable]="false">
    <ng-template matStepLabel>찾을 이메일 계정</ng-template>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="320px">
        <div fxLayout="row" fxLayoutAlign="center center">
          <p class="intro_msg">
            비밀번호를 찾으려는 계정의 이메일을 입력하세요.
          </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field fxFlex="100%" appearance="outline">
            <mat-label>이메일</mat-label>
            <input matInput type="email" placeholder="Email" [formControl]="emailCtrl" />
            <mat-hint *ngIf="emailCtrl.touched && emailCtrl.invalid && emailCtrl.errors.__proto__.constructor.keys(emailCtrl.errors)[0] === 'required'">
              이메일을 입력하세요.
            </mat-hint>
            <mat-hint *ngIf="emailCtrl.touched && emailCtrl.invalid && emailCtrl.errors.__proto__.constructor.keys(emailCtrl.errors)[0] === 'email'">
              이메일 형식이 아닙니다.
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button fxFlex="100%" mat-button mat-raised-button color="primary" [disabled]="emailCtrl.invalid" (click)="sendVerifyEmail()">다음</button>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>이메일 확인</ng-template>
    <email-verifier (success)="stepper.next()" [token]="token" #emailVerifier>
    </email-verifier>
  </mat-step>
  <mat-step [editable]="false">
    <ng-template matStepLabel>비밀번호 재설정</ng-template>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="320px">
        <div fxLayout="row" fxLayoutAlign="center center">
          <p class="intro_msg">
            계정의 새로운 비밀번호를 입력하세요.
          </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field fxFlex="100%" appearance="outline">
            <mat-label>비밀번호</mat-label>
            <input matInput type="password" placeholder="Password" [formControl]="passwordCtrl" />
            <mat-hint *ngIf="passwordCtrl.touched && passwordCtrl.invalid && passwordCtrl.errors.__proto__.constructor.keys(passwordCtrl.errors)[0] === 'required'">
              비밀번호를 입력하세요.
            </mat-hint>
            <mat-hint *ngIf="passwordCtrl.touched && passwordCtrl.invalid && passwordCtrl.errors.__proto__.constructor.keys(passwordCtrl.errors)[0] === 'minlength'">
              최소 8글자를 입력하세요.
            </mat-hint>
            <mat-hint *ngIf="passwordCtrl.touched && passwordCtrl.invalid && passwordCtrl.errors.__proto__.constructor.keys(passwordCtrl.errors)[0] === 'maxlength'">
              최대 32글자를 입력하세요.
            </mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button fxFlex="100%" mat-button mat-raised-button color="primary" [disabled]="passwordCtrl.invalid" (click)="resetPassword()">비밀번호 재설정</button>
        </div>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
