<div fxLayout="row" fxLayoutAlign="end center">
  <div *ngIf="isOwner" class="mt-1" fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="!isEdit" mat-button mat-raised-button color="white" (click)="isEdit = true">수정</button>
    <button *ngIf="isEdit" mat-button mat-raised-button color="white" (click)="isEdit = false">완료</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="25px" class="mt-3 mb-3">
  <div class="position-relative">
    <img width="250px" class="rounded-circle" [src]="user.getAttrs().thumbnail ? user.getAttrs().thumbnail : 'http://gifpng.com/128x128/333333/ffffff?border-width=0&text=프로필 이미지 없음'" />
    <div *ngIf="isEdit" class="stretch" fxLayout="row" fxLayoutAlign="center center">
      <button mat-fab color="primary" (click)="cropImageDialogOpen()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!isEdit">
    <h1>@{{user.getAttrs().nick}}</h1>
  </div>
  <div *ngIf="isEdit" fxLayoutGap="20px">
    <mat-form-field>
      <mat-label>닉네임</mat-label>
      <input matInput type="text" placeholder="Nickname" [formControl]="nickCtrl" />
      <mat-hint *ngIf="nickCtrl.touched && nickCtrl.invalid && nickCtrl.errors.__proto__.constructor.keys(nickCtrl.errors)[0] == 'required'">
        닉네임를 입력하세요.
      </mat-hint>
      <mat-hint *ngIf="nickCtrl.touched && nickCtrl.invalid && nickCtrl.errors.__proto__.constructor.keys(nickCtrl.errors)[0] == 'minlength'">
        최소 2글자를 입력하세요.
      </mat-hint>
      <mat-hint *ngIf="nickCtrl.touched && nickCtrl.invalid && nickCtrl.errors.__proto__.constructor.keys(nickCtrl.errors)[0] == 'maxlength'">
        최대 12글자를 입력하세요.
      </mat-hint>
      <mat-hint *ngIf="nickCtrl.touched && nickCtrl.invalid && nickCtrl.errors.__proto__.constructor.keys(nickCtrl.errors)[0] == 'nospace'">
        공백(whitespace)없이 입력하세요.
      </mat-hint>
      <mat-hint *ngIf="nickCtrl.touched && nickCtrl.invalid && nickCtrl.errors.__proto__.constructor.keys(nickCtrl.errors)[0] == 'exist'">
        이미 존재하는 닉네임 입니다.
      </mat-hint>
      <mat-hint *ngIf="nickCtrl.touched && nickCtrl.invalid && nickCtrl.errors.__proto__.constructor.keys(nickCtrl.errors)[0] == 'same'">
        현재 사용중인 닉네임 입니다.
      </mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="nickCtrl.invalid" (click)="changeNick()">변경</button>
  </div>
</div>
  <mat-tab-group>
    <mat-tab label="클립 영상">
      <page-list class="mt-3 d-block" #clipPageList [apiUrl]="'clips'" [apiParams]="{
        user_id: user.getAttrs().id,
        expands: 'vod',
        limit: '20'
      }">
        <ng-template #itemListEl>
          <ng-container *ngFor="let item of clipPageList.items">
            <div *ngIf="item.isExist" class="ytb-vod-item" fxFlex="0 0 calc(25% - 20px)">
              <mat-menu #moreMenu xPosition="before">
                <button mat-menu-item (click)="deleteItem(item)">
                  삭제
                </button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                <mat-icon>
                  more_horiz
                </mat-icon>
              </button>
              <mat-card routerLink="/user/clips/{{item.getAttrs().id}}">
                <img mat-card-image src="{{item.getRelations().vod.getAttrs().thumbnail}}" />
                <mat-card-content>
                  <p class="text-ellipsis">
                    {{item.getRelations().vod.getAttrs().title}}
                  </p>
                  <p class="text-center">
                    {{item.getAttrs().created_at.substr(0, 16)}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </ng-template>
      </page-list>
    </mat-tab>
    <mat-tab label="좋아요 영상">
      <page-list class="mt-3 d-block" #likePageList [apiUrl]="'likes'" [apiParams]="{
        user_id: user.getAttrs().id,
        related_types: 'vod,ytb_video',
        expands: 'related',
        limit: '20'
      }">
        <ng-template #itemListEl>
          <ng-container *ngFor="let item of likePageList.items">
            <div *ngIf="item.isExist" class="ytb-vod-item" fxFlex="0 0 calc(25% - 20px)">
              <mat-menu #moreMenu xPosition="before">
                <button mat-menu-item (click)="deleteItem(item)">
                  삭제
                </button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                <mat-icon>
                  more_horiz
                </mat-icon>
              </button>
              <mat-card *ngIf="item.getRelations().related.constructor.name == 'Vod'" (click)="navigate(item.getRelations().related)">
                <img mat-card-image src="{{item.getRelations().related.getAttrs().thumbnail}}" />
                <mat-card-content>
                  <p class="text-ellipsis">
                    {{item.getRelations().related.getAttrs().title}}
                  </p>
                  <p class="text-center">
                    {{item.getRelations().related.getAttrs().started_at.substr(0, 16)}}
                  </p>
                </mat-card-content>
              </mat-card>
              <mat-card *ngIf="item.getRelations().related.constructor.name == 'YtbVideo'" [routerLink]="['/youtube/videos', item.getRelations().related.getAttrs().id]">
                <img mat-card-image src="{{item.getRelations().related.getAttrs().thumbnail}}" />
                <mat-card-content>
                  <p class="text-ellipsis">
                    {{item.getRelations().related.getAttrs().title}}
                  </p>
                  <p class="text-center">
                    {{item.getRelations().related.getAttrs().created_at.substr(0, 16)}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </ng-container>
        </ng-template>
      </page-list>
    </mat-tab>
    <mat-tab label="댓글 보기">
      <page-list class="mt-3 d-block" #commentThreadPageList [apiUrl]="'comment-threads'" [apiParams]="{
        user_id: user.getAttrs().id,
        expands: 'dislike, like, user',
        limit: '20'
      }">
        <ng-template #itemListEl>
          <ng-container *ngFor="let item of commentThreadPageList.items">
            <comment-thread *ngIf="item.isExist" fxFlex="100" fxLayout="row" fxLayoutAlign="start start" class="mt-2 mb-2" [thread]="item">
            </comment-thread>
          </ng-container>
        </ng-template>
      </page-list>
    </mat-tab>
  </mat-tab-group>
