<div fxLayout="row" fxLayoutAlign="start center">
  <h2 mat-dialog-title>
    로그인 하기
  </h2>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <form fxFlex="320px" (ngSubmit)="signIn()">
    <div fxLayout="row" class="mb-3" fxLayoutAlign="end center">
      <a mat-button color="primary" [routerLink]="['/sign-up']">회원가입</a>
      <a mat-button [routerLink]="['/password-find']">비밀번호 찾기</a>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="100%" appearance="outline">
        <mat-label>아이디</mat-label>
        <input matInput type="email" placeholder="Email" [formControl]="email" />
        <mat-hint *ngIf="email.touched && email.invalid && email.errors.__proto__.constructor.keys(email.errors)[0] == 'required'">
          이메일을 입력하세요.
        </mat-hint>
        <mat-hint *ngIf="email.touched && email.invalid && email.errors.__proto__.constructor.keys(email.errors)[0] == 'email'">
          이메일 형식이 아닙니다.
        </mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="100%" appearance="outline">
        <mat-label>비밀번호</mat-label>
        <input matInput type="password" placeholder="Password" [formControl]="password" />
        <mat-hint *ngIf="password.touched && password.invalid && password.errors.__proto__.constructor.keys(password.errors)[0] == 'required'">
          비밀번호를 입력하세요.
        </mat-hint>
        <mat-hint *ngIf="password.touched && password.invalid && password.errors.__proto__.constructor.keys(password.errors)[0] == 'minlength'">
          최소 8글자를 입력하세요.
        </mat-hint>
        <mat-hint *ngIf="password.touched && password.invalid && password.errors.__proto__.constructor.keys(password.errors)[0] == 'maxlength'">
          최대 32글자를 입력하세요.
        </mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <button type="submit" fxFlex="100%" mat-raised-button color="primary" [disabled]="this.form.invalid" (click)="signIn()">
      로그인
      </button>
    </div>
  </form>
</div>
