<div fxLayout="row" fxLayoutAlign="center center">
  <p class="intro_msg">
    해당 이메일에서 받은 코드를 입력해주세요.
  </p>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field appearance="outline">
    <mat-label>코드입력</mat-label>
    <input matInput type="text" placeholder="Code" [formControl]="codeCtrl" />
    <mat-hint *ngIf="codeCtrl.touched && codeCtrl.invalid && codeCtrl.errors?.__proto__.constructor.keys(codeCtrl.errors)[0] === 'required'">
      닉네임를 입력하세요.
    </mat-hint>
    <mat-hint *ngIf="codeCtrl.touched && codeCtrl.invalid && codeCtrl.errors?.__proto__.constructor.keys(codeCtrl.errors)[0] === 'length'">
      코드 길이가 다릅니다.
    </mat-hint>
    <mat-hint *ngIf="codeCtrl.touched && codeCtrl.invalid && codeCtrl.errors?.__proto__.constructor.keys(codeCtrl.errors)[0] === 'invalid'">
      코드 문자가 다릅니다.
    </mat-hint>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner *ngIf="isSubmitting" [diameter]="50"></mat-spinner>
</div>
