<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <ng-container *ngIf="!isLoading">
    <ng-container *ngTemplateOutlet="itemListEl"></ng-container>
  </ng-container>
</div>
<ng-content></ng-content>
<div fxLayout="row" fxLayoutAlign="center center" class="pagination-wrap">
  <ul class="pagination" fxLayout="row" fxLayoutAlign="center center">
    <li fxFlex *ngIf="prevPages.length != 0 && prevPages.indexOf(1) == -1">
      <a mat-button (click)="getListWith({page: 1})">
        <mat-icon>first_page</mat-icon>
      </a>
    </li>
    <li fxFlex *ngIf="prevPages.length != 0 && prevPages[0] > 1">
      <a mat-button (click)="getListWith({page: prevPages[0]-1})">
        <mat-icon>chevron_left</mat-icon>
      </a>
    </li>
    <li fxFlex *ngFor="let prevPage of prevPages">
      <a mat-button (click)="getListWith({page: prevPage})">
        {{prevPage}}
      </a>
    </li>
    <li fxFlex>
      <a mat-button mat-raised-button color="primary" (click)="getListWith({page: currentPage})">
        {{currentPage}}
      </a>
    </li>
    <li fxFlex *ngFor="let nextPage of nextPages">
      <a mat-button (click)="getListWith({page: nextPage})">
        {{nextPage}}
      </a>
    </li>
    <li fxFlex *ngIf="nextPages.length != 0 && nextPages[nextPages.length-1] < lastPage">
      <a mat-button (click)="getListWith({page: nextPages[nextPages.length-1]+1})">
        <mat-icon>chevron_right</mat-icon>
      </a>
    </li>
    <li fxFlex *ngIf="nextPages.length != 0 && nextPages.indexOf(lastPage) == -1">
      <a mat-button (click)="getListWith({page: lastPage})">
        <mat-icon>last_page</mat-icon>
      </a>
    </li>
  </ul>
</div>
