@import '~@angular/material/theming';

$grey: mat-palette($mat-grey);

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: map_get($mat-grey, 300) radial-gradient(circle, transparent 1%, map_get($mat-grey, 300) 1%) center/15000%;

}
.ripple:active {
  background-color: map_get($mat-grey, 200);
  background-size: 100%;
  transition: background 0s;
}

[tabindex] {
   outline: none !important;
}

tr.mat-row {
  cursor: pointer;
  td {
    line-height: 48px;
  }
}

