@use '@angular/material' as mat;

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: mat.get-color-from-palette(
    mat.define-palette(mat.$gray-palette),
    300
  ) radial-gradient(circle, transparent 1%, mat.get-color-from-palette(
    mat.define-palette(mat.$gray-palette),
    300
  ) 1%) center/15000%;

}
.ripple:active {
  background-color: mat.get-color-from-palette(
    mat.define-palette(mat.$gray-palette),
    200
  );
  background-size: 100%;
  transition: background 0s;
}

[tabindex] {
   outline: none !important;
}

tr.mat-row {
  cursor: pointer;
  td {
    line-height: 48px;
  }
}
