<input class="d-none" type="file" id="dialog-crop-image-file" (change)="onSelect()">
<div fxLayout="row" fxLayoutAlign="space-between center">
  <h5>프로필사진 변경</h5>
  <button mat-raised-button>
    <label for="dialog-crop-image-file">
      사진 선택
    </label>
  </button>
</div>
<div class="mw-100">
  <img />
  <p class="small" *ngIf="!isLoaded">
    사진 선택한 다음 원하시는 부분을 지정 후 저장을 누르세요.
  </p>
</div>
<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-button (click)="viewRef.close()">취소</button>
  <button *ngIf="isLoaded" mat-raised-button color="primary" (click)="onCrop()">저장</button>
</div>
