<div fxLayout="row" fxLayoutAlign="start center">
  <h2>방송 풀영상</h2>
</div>
<route-page-list #pageList [apiUrl]="'aftv-bcasts'" [apiParams]="{
  expands: 'vod',
  limit: '20'
}">
  <ng-template #itemListEl>
    <div class="ytb-vod-item" fxFlex="0 0 calc(25% - 20px)" *ngFor="let item of pageList.items">
      <mat-card [routerLink]="['/broadcasts', item.getAttrs().id]">
        <img mat-card-image src="{{item.getRelations().vod.getAttrs().thumbnail}}" />
        <mat-card-content>
          <p>
            {{item.getAttrs().started_at.substr(0, 10)}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</route-page-list>
