<mat-form-field fxFlex="100" [floatLabel]="'auto'">
  <mat-label>비밀번호</mat-label>
  <input matInput type="password" placeholder="Password" [formControl]="passwordCtrl" />
  <mat-hint *ngIf="passwordCtrl.touched && passwordCtrl.invalid && passwordCtrl.errors?.__proto__.constructor.keys(passwordCtrl.errors)[0] === 'required'">
    비밀번호를 입력하세요.
  </mat-hint>
  <mat-hint *ngIf="passwordCtrl.touched && passwordCtrl.invalid && passwordCtrl.errors?.__proto__.constructor.keys(passwordCtrl.errors)[0] === 'minlength'">
    최소 8글자를 입력하세요.
  </mat-hint>
  <mat-hint *ngIf="passwordCtrl.touched && passwordCtrl.invalid && passwordCtrl.errors?.__proto__.constructor.keys(passwordCtrl.errors)[0] === 'maxlength'">
    최대 32글자를 입력하세요.
  </mat-hint>
</mat-form-field>
