<route-page-list #pageList [apiUrl]="'youtube-videos'" [apiParams]="apiParams">
  <ng-template #itemListEl>
    <div class="ytb-vod-item" fxFlex="0 0 calc(25% - 20px)" *ngFor="let item of pageList.items">
      <mat-card routerLink="/youtube/videos/{{item.getAttrs().id}}">
        <img alt="" mat-card-image src="{{item.getAttrs().thumbnail}}" />
        <mat-card-content>
          <p class="text-ellipsis">
            {{item.getAttrs().title}}
          </p>
          <p>
            {{item.getAttrs().created_at.substr(0, 16)}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</route-page-list>
