<div fxLayout="row" fxLayoutAlign="start center">
  <p>댓글 총: {{threadList.totalCount}}개</p>
</div>
<ng-container>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <img alt="" fxFlex="50px" class="rounded-circle border" [src]="authService.getUser() && authService.getUser().getAttrs().thumbnail ? authService.getUser().getAttrs().thumbnail : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII='" />
    <mat-form-field fxFlex [floatLabel]="'never'">
      <input matInput placeholder="댓글 입력" (focus)="isAdding = true" [formControl]="newThreadCtrl" (click)="authService.requireSignIn()">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="isAdding">
    <button mat-button (click)="hideNewThreadCtrl()">
      취소
    </button>
    <button mat-button mat-raised-button color="primary" [disabled]="newThreadCtrl.invalid" (click)="addThread()">
      쓰기
    </button>
  </div>
</ng-container>
<ng-container *ngFor="let item of newThreads">
  <comment-thread *ngIf="item.isExist" [thread]="item" fxLayout="row" fxLayoutAlign="start start">
  </comment-thread>
</ng-container>
<page-list #threadList [apiUrl]="'comment-threads'" [apiParams]="{
  related_id: related.getAttrs().id,
  related_type: related.getModelType(),
  expands: 'dislike, like, user',
  limit: '20'
}">
  <ng-template #itemListEl>
    <ng-container *ngFor="let item of threadList.items">
      <comment-thread *ngIf="item.isExist" fxFlex="100" fxLayout="row" fxLayoutAlign="start start" class="mt-2 mb-2" [thread]="item">
      </comment-thread>
    </ng-container>
  </ng-template>
</page-list>
