<vod-player>
  <ng-template #vodPlayerEl>
    <div class="iframe-wrap">
      <iframe [src]="iframeUrl" allowfullscreen="true">
      </iframe>
    </div>
  </ng-template>
  <ng-template #vodInfoTabEl>
    <h3 matSubheader>
      <span>재생목록</span>
    </h3>
    <mat-nav-list>
      <mat-list-item [ngClass]="item.getAttrs().id == review.getAttrs().id ? 'border accent-border': ''" *ngFor="let item of bcast.getRelations().reviews">
        <a [routerLink]="['/aftv-reviews/', item.getAttrs().id]">
          <img src="{{item.getRelations().vod.getAttrs().thumbnail}}" />
        </a>
      </mat-list-item>
    </mat-nav-list>
  </ng-template>
</vod-player>
