<div>
  <h2>아프리카 다시보기</h2>
</div>
<vod-player>
  <ng-template #vodPlayerEl>
    <div class="iframe-wrap">
      <iframe [src]="review.getAttrs().iframe_url | safe: 'resourceUrl'"></iframe>
    </div>
  </ng-template>
  <ng-template #vodInfoTabEl>
    <h3 matSubheader>
      <span>재생목록</span>
    </h3>
    <mat-nav-list>
      <mat-list-item [ngClass]="item.getAttrs().id == review.getAttrs().id ? 'active': ''" *ngFor="let item of bcast.getRelations().reviews" routerLink="/aftv-reviews/{{item.getAttrs().id}}">
        <img src="{{item.getRelations().vod.getAttrs().thumbnail}}" />
      </mat-list-item>
    </mat-nav-list>
  </ng-template>
</vod-player>
<div class="mt-3" fxLayout="row" fxLayoutAlign="end center">
  <like-or-dislike-button-group [related]="review.getRelations().vod">
    <button class="ml-3" mat-raised-button like-button>{{review.getRelations().vod.getAttrs().like_count}} 추천</button>
  </like-or-dislike-button-group>
</div>
<comment-thread-container class="d-block mt-3" [related]="review.getRelations().vod">
</comment-thread-container>

